.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .h3Center {
    text-align: center;
  }

.centerButton{
    margin-left: 50%;
}
.submitButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

.error{
  color:red;
}


  div.settings {
    width: 50%;
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
div.settings label       { text-align:right; padding: 5px; }
